body {
  margin: 0;
  background: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family:
    'Avenir Next',
    'Segoe UI',
    sans-serif;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
}
